---
title: openSUSE Desktop Distributions
permalink: /desktop/
---
<link rel="stylesheet" href="/assets/css/software.css">
<div class="container text-center py-4">
  <h1 class="display-3">openSUSE Desktop Distributions</h1>
  <p class="lead">The two distributions to rule them all (now in green!)</p>
</div>
<div class="container-fluid bg-wallpaper text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 p-5 bg-tumbleweed-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/tumbleweed.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-auto">
              <h2>Tumbleweed</h2>
              <h6>For Developers, openSUSE Contributors, and Linux/FOSS Enthusiasts</h6>
              <p>Rolling release with the latest packages provided by the openSUSE Project.</p>
            </div>
            <a href="/tumbleweed" class="btn btn-light">View Tumbleweed</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 p-5 bg-leap-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/leap.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-auto">
              <h2>Leap</h2>
              <h6>For Sysadmins, Enterprise Developers, and ‘Regular’ Desktop Users</h6>
              <p>Regular release with the benefits of both enterprise-grade engineering and community-developed innovation.</p>
            </div>
            <a href="/leap" class="btn btn-light">View Leap</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include features/desktops.html %}
{% include features/software.html %}
{% include features/points.html %}
{% include features/yast.html %}
{% include features/snapper.html %}
