---
title: openSUSE Desktop Distributions
permalink: /desktop/
---
<link rel="stylesheet" href="/assets/css/software.css">
<div class="container text-center py-4">
  <h1 class="display-3">{{ locale.desktop }}</h1>
  <p class="lead">{{ locale.desktop_p1 }}</p>
</div>
<div class="container-fluid bg-wallpaper text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 p-5 bg-tumbleweed-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/tumbleweed.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-auto">
              <h2>Tumbleweed</h2>
              <h6>{{ locale.desktop_tumbleweed_p1 }}</h6>
              <p>{{ locale.desktop_tumbleweed_p2 }}</p>
            </div>
            <a href="{{ '/tumbleweed/' | prefix_locale }}" class="btn btn-light mb-2">{{ locale.learn_more }}</a>
            <a href="{{ '/tumbleweed/#download' | prefix_locale }}" class="btn btn-light">{{ locale.download }}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 p-5 bg-leap-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/leap.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-auto">
              <h2>Leap</h2>
              <h6>{{ locale.desktop_leap_p1 }}</h6>
              <p>{{ locale.desktop_leap_p2 }}</p>
            </div>
            {% capture distro_name %}Leap {% include leap_release %}{% endcapture %}
            <a href="{{ '/leap/' | prefix_locale }}" class="btn btn-light mb-2">{{ locale.learn_more }}</a>
            <a href="{{ '/leap/#download' | prefix_locale }}" class="btn btn-light">{{ locale.download }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include features/desktops.html %}
{% include features/software.html %}
{% include features/points.html %}
{% include features/yast.html %}
{% include features/snapper.html %}
