---
title: openSUSE Desktop Distributions
permalink: /desktop/
---
<link rel="stylesheet" href="/assets/css/software.css">
<div class="container text-center py-4">
  <h1 class="display-3">{{ locale.desktop }}</h1>
  <p class="lead">{{ locale.desktop_p1 }}</p>
</div>
<div class="container-fluid bg-wallpaper text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 p-5 bg-tumbleweed-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/tumbleweed.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-auto">
              <h2>Tumbleweed</h2>
              <h6>{{ locale.desktop_tumbleweed_p1 }}</h6>
              <p>{{ locale.desktop_tumbleweed_p2 }}</p>
            </div>
            <a href="{{ '/tumbleweed/?type=desktop' | prefix_locale }}" class="btn btn-light mb-2">{{ locale.learn_more }}</a>
            <a href="{{ '/tumbleweed/?type=desktop#download' | prefix_locale }}" class="btn btn-light">{{ locale.download }}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 p-5 bg-slowroll-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/slowroll.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-auto">
              <h2>Slowroll</h2>
              <h6>{{ locale.desktop_slowroll_p1 }}</h6>
              <p>{{ locale.desktop_slowroll_p2 }}</p>
            </div>
            <a href="{{ '/slowroll/?type=desktop' | prefix_locale }}" class="btn btn-light mb-2">{{ locale.learn_more }}</a>
            <a href="{{ '/slowroll/?type=desktop#download' | prefix_locale }}" class="btn btn-light">{{ locale.download }}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 p-5 bg-leap-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/leap.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-auto">
              <h2>Leap</h2>
              <h6>{{ locale.desktop_leap_p1 }}</h6>
              <p>{{ locale.desktop_leap_p2 }}</p>
            </div>
            {% assign leap_version = site.releases.leap[site.releases.leap.current].version %}
            {% capture distro_name %}Leap {{ leap_version }}{% endcapture %}
            <a href="{{ '/leap/' | append: leap_version | append: '/?type=desktop' | prefix_locale }}" class="btn btn-light mb-2">{{ locale.learn_more }}</a>
            <a href="{{ '/leap/' | append: leap_version | append: '/?type=desktop#download' | prefix_locale }}" class="btn btn-light">{{ locale.download }}</a>
          </div>
        </div>
      </div>
      <div class="col-12 text-center pt-3">
        <h2 class="font-weight-bold">Immutable distributions</h2>
      </div>
      <div class="col-lg-12 p-5 bg-aeon-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/aeon.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-auto">
              <h2>Aeon</h2>
              <h6>{{ locale.desktop_aeon_p1 }}</h6>
              <p>{{ locale.desktop_aeon_p2 }}</p>
            </div>
            <a href="{{ '/aeon/?type=desktop' | prefix_locale }}" class="btn btn-light mb-2">{{ locale.learn_more }}</a>
            <a href="{{ '/aeon/?type=desktop#download' | prefix_locale }}" class="btn btn-light">{{ locale.download }}</a>
          </div>
        </div>
      </div>
<!--
      <div class="col-lg-6 p-5 bg-kalpa-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/kalpa.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-auto">
              <h2>Kalpa</h2>
              <h6>{{ locale.desktop_kalpa_p1 }}</h6>
              <p>{{ locale.desktop_kalpa_p2 }}</p>
            </div>
            <a href="{{ '/kalpa/?type=desktop' | prefix_locale }}" class="btn btn-light mb-2">{{ locale.learn_more }}</a>
            <a href="{{ '/kalpa/?type=desktop#download' | prefix_locale }}" class="btn btn-light">{{ locale.download }}</a>
          </div>
        </div>
      </div>
-->
    </div>
  </div>
</div>
{% include features/desktops.html %}
{% include features/software.html %}
{% include features/points.html %}
{% include features/yast.html %}
{% include features/snapper.html %}
