---
---
{% capture testing %}{% labeltorelease %}testing{% endlabeltorelease %}{% endcapture %}

{% assign testing_type = testing | split: ":" %}
{% assign testing_version = testing_type[0] %}
{% assign testing_release = testing_type[1] %}
<link rel="stylesheet" href="/assets/css/software.css">
<div class="container text-center py-4">
  <h1 class="display-3">{{ locale.index }}</h1>
  <p class="lead">{{ locale.index_p1 }}</p>
</div>
<div class="bg-light">
  <div class="container">
    <div class="row">
      <a href="{{ '/desktop/' | prefix_locale }}" class="col bg-wallpaper text-white text-center p-5">
        <div class="p-4 m-auto">{% include icons/desktop.svg %}</div>
        <h2>{{ locale.index_desktop }}</h2>
        <h6>{{ locale.index_desktop_p1 }}</h6>
      </a>
      <a href="{{ '/server/' | prefix_locale }}" class="col bg-server text-white text-center p-5">
        <div class="p-4 m-auto">{% include icons/server.svg %}</div>
        <h2>{{ locale.index_server }}</h2>
        <h6>{{ locale.index_server_p1 }}</h6>
      </a>
    </div>
  </div>
</div>
<div class="container text-center py-4">
  <h2 class="m-0">{{ locale.index_full }}</h2>
</div>
<div class="bg-wallpaper">
  <div class="container">
    <div class="row">
      <a href="{{ '/tumbleweed/' | prefix_locale }}" class="col bg-tumbleweed-tint text-white text-center">
        <div class="w-50 m-auto">{% include logos/tumbleweed.svg %}</div>
        <h4>Tumbleweed</h4>
      </a>
      <a href="{{ '/leap/' | prefix_locale }}" class="col bg-leap-tint text-white text-center">
        <div class="w-50 m-auto">{% include logos/leap.svg %}</div>
        <h4>Leap {% include leap_release %}</h4>
      </a>
      {% capture testing_version %}{% include leap_testing_release %}{% endcapture %}
      {% assign testing_version = testing_version | normalize_whitespace %}
      {% if testing_version != "" %}
        <a href="{{ '/testing/' | prefix_locale }}" class="col bg-leap-tint text-white text-center">
          <div class="w-50 m-auto">{% include logos/leap.svg %}</div>
          <h4>Leap {% include leap_testing_release %} <sup>{% include leap_testing_status %}</sup></h4>
        </a>
      {% endif %}
      <a href="{{ '/kubic/' | prefix_locale }}" class="col bg-kubic-tint text-white text-center">
        <div class="w-50 m-auto">{% include logos/kubic.svg %}</div>
        <h4>Kubic</h4>
      </a>
      <a href="{{ '/microos/' | prefix_locale }}" class="col bg-microos-tint text-white text-center">
        <div class="w-50 m-auto">{% include logos/microos.svg %}</div>
        <h4>MicroOS</h4>
      </a>
    </div>
  </div>
</div>
