---
---
<link rel="stylesheet" href="/assets/css/software.css">
<div class="container text-center py-4">
  <h1 class="display-3">{{ locale.index }}</h1>
  <p class="lead">{{ locale.index_p1 }}</p>
</div>
<div class="bg-light">
  <div class="container">
    <div class="row">
      <a href="{{ '/desktop/' | prefix_locale }}" class="col bg-wallpaper text-white text-center p-5">
        <div class="p-4 m-auto">{% include icons/desktop.svg %}</div>
        <h2>{{ locale.index_desktop }}</h2>
        <h6>{{ locale.index_desktop_p1 }}</h6>
      </a>
      <a href="{{ '/server/' | prefix_locale }}" class="col bg-server text-white text-center p-5">
        <div class="p-4 m-auto">{% include icons/server.svg %}</div>
        <h2>{{ locale.index_server }}</h2>
        <h6>{{ locale.index_server_p1 }}</h6>
      </a>
    </div>
  </div>
</div>
<div class="container text-center py-4">
  <h2 class="m-0">{{ locale.index_full }}</h2>
</div>
<div class="bg-wallpaper">
  <div class="container">
    <div class="row">
      <a href="{{ '/tumbleweed/' | prefix_locale }}" class="col bg-tumbleweed-tint text-white text-center d-flex">
        <div class="w-100 my-auto">
          <div class="w-50 m-auto">{% include logos/tumbleweed.svg %}</div>
          <h4>Tumbleweed</h4>
        </div>
      </a>
      {% if site.releases.leap.current != nil %}
      <a href="{{ '/leap/' | prefix_locale }}" class="col bg-leap-tint text-white text-center d-flex">
        <div class="w-100 my-auto">
          <div class="w-50 m-auto">{% include logos/leap.svg %}</div>
          <h4>Leap {{ site.releases.leap[site.releases.leap.current].version }}</h4>
        </div>
      </a>
      {% endif %}
      {% if site.releases.leap.testing %}
        <a href="{{ '/testing/' | prefix_locale }}" class="col bg-leap-tint text-white text-center d-flex">
          <div class="w-100 my-auto">
            <div class="w-50 m-auto">{% include logos/leap.svg %}</div>
            {% assign leap_id = site.releases.leap.testing %}
            <h4>Leap {{ site.releases.leap[leap_id].version }} <sup>{{ site.releases.leap[leap_id].state }}</sup></h4>
          </div>
        </a>
      {% endif %}
      {% if site.releases.leap_micro.current != nil %}
        <a href="{{ '/leapmicro/' | prefix_locale }}" class="col bg-leapmicro-tint text-white text-center d-flex">
          <div class="w-100 my-auto">
            <div class="w-50 m-auto">{% include logos/leapmicro.svg %}</div>
            <h4>Leap Micro {{ site.releases.leap_micro[site.releases.leap_micro.current].version }}</h4>
          </div>
        </a>
      {% endif %}
      {% if site.releases.leap_micro.testing %}
        <a href="{{ '/leapmicro_testing/' | prefix_locale }}" class="col bg-leapmicro-tint text-white text-center d-flex">
          <div class="w-100 my-auto">
            <div class="w-50 m-auto">{% include logos/leapmicro.svg %}</div>
            {% assign leap_micro_id = site.releases.leap_micro.testing %}
            <h4>Leap Micro {{ site.releases.leap_micro[leap_micro_id].version }} <sup>{{ site.releases.leap_micro[leap_micro_id].state }}</sup></h4>
          </div>
        </a>
      {% endif %}
      <a href="{{ '/slowroll/' | prefix_locale }}" class="col bg-slowroll-tint text-white text-center d-flex">
        <div class="w-100 my-auto">
          <div class="w-50 m-auto">{% include logos/slowroll.svg %}</div>
          <h4>Slowroll</h4>
        </div>
      </a>
      <a href="{{ '/microos/' | prefix_locale }}" class="col bg-microos-tint text-white text-center d-flex">
        <div class="w-100 my-auto">
          <div class="w-50 m-auto">{% include logos/microos.svg %}</div>
          <h4>MicroOS</h4>
        </div>
      </a>
      <a href="{{ '/aeon/' | prefix_locale }}" class="col bg-aeon-tint text-white text-center d-flex">
        <div class="w-100 my-auto">
          <div class="w-50 m-auto">{% include logos/aeon.svg %}</div>
          <h4>Aeon</h4>
        </div>
      </a>
<!--
     <a href="{{ '/kalpa/' | prefix_locale }}" class="col bg-kalpa-tint text-white text-center d-flex">
        <div class="w-100 my-auto">
          <div class="w-50 m-auto">{% include logos/kalpa.svg %}</div>
          <h4>Kalpa</h4>
        </div>
      </a>
-->
    </div>
  </div>
</div>
