---
title: Open source OS for desktops and servers
description: openSUSE makes open source operating systems based on Linux.
stylesheet: homepage
layout: default2025
---

<div class="page">
  {% include topNav.html %}
  <div class="introHolder">
    <div class="container">
      <div class="intro">
        <div class="introPrimary">
          <h1>{{ locale.homepage_intro_title }}</h1>
          <div class="introPrimaryDescription">{{ locale.homepage_intro_subtitle }}</div>
        </div>
        <div class="screenshot">
          <img width="600" height="375" src="/assets/img/screenshots/kde-light-welcome.png" alt="{{ locale.homepage_screenshot_alttext }}">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="propositions">
      {% include proposition.html
        imgName="drive"
        altText=locale.homepage_proposition_installer_alttext
        title=locale.homepage_proposition_installer_title
        description=locale.homepage_proposition_installer_subtitle
      %}
      {% include proposition.html
        imgName="relieved"
        altText=homepage_proposition_no_strings_alttext
        title=locale.homepage_proposition_no_strings_title
        description=locale.homepage_proposition_no_strings_subtitle
      %}
      {% include proposition.html
        imgName="iceCreamCone"
        altText=locale.homepage_proposition_flavors_alttext
        title=locale.homepage_proposition_flavors_title
        description=locale.homepage_proposition_flavors_subtitle
      %}
      {% include proposition.html
        imgName="gpu"
        altText=locale.homepage_proposition_restricted_packages_alttext
        title=locale.homepage_proposition_restricted_packages_title
        description=locale.homepage_proposition_restricted_packages_subtitle
      %}
      {% include proposition.html
        imgName="community"
        altText=locale.homepage_proposition_community_events_alttext
        title=locale.homepage_proposition_community_events_title
        description=locale.homepage_proposition_community_events_subtitle
      %}
      {% include proposition.html
        imgName="company"
        altText=locale.homepage_proposition_industry_backed_alttext
        title=locale.homepage_proposition_industry_backed_title
        description=locale.homepage_proposition_industry_backed_subtitle
      %}
    </div>
    <div class="builtins">
      <div class="builtinsPrimary">
        <h3>{{ locale.homepage_options_title }}</h3>
      </div>
      <ul class="builtinsSecondary">
        <li>{{ locale.homepage_options_desktop_environments }}</li>
        <li>{{ locale.homepage_options_desktop_and_server }}</li>
        <li>{{ locale.homepage_options_full_disk_encryption }}</li>
        <li>{{ locale.homepage_options_btrfs_snapshots }}</li>
        <li>{{ locale.homepage_options_lvm }}</li>
        <li>{{ locale.homepage_options_secure_boot }}</li>
      </ul>
    </div>
  </div>
  <div class="flavorsBg">
    <div class="container">
      <h3>{{ locale.homepage_flavors_title }}</h3>
      <div class="flavors">
        <div class="content">
          <div class="flavorHolder">
            {% include flavor.html
              name="Tumbleweed"
              identifier="tumbleweed"
              description=locale.homepage_flavors_tumbleweed_description
            %}
            {% include flavor.html
              name="Leap"
              identifier="leap"
              description=locale.homepage_flavors_leap_description
            %}
            {% include flavor.html
              name="MicroOS"
              identifier="microOs"
              description=locale.homepage_flavors_microos_description
            %}
            {% include flavor.html
              name="Leap Micro"
              identifier="leapMicro"
              description=locale.homepage_flavors_leap_micro_description
            %}
          </div>
          <div class="experimental">
            {{ locale.homepage_flavors_experimental_distributions }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
