---
title: openSUSE Server Distributions
permalink: /server/
---
<link rel="stylesheet" href="/assets/css/software.css">
<div class="container text-center py-4">
  <h1 class="display-3">{{ locale.server }}</h1>
  <p class="lead">{{ locale.server_p1 }}</p>
</div>
<div class="container-fluid bg-wallpaper text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 py-2 px-5 py-md-5 bg-tumbleweed-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/tumbleweed.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-md-auto">
              <h2>Tumbleweed</h2>
              <h6>{{ locale.server_tumbleweed_p1 }}</h6>
              <p>{{ locale.server_tumbleweed_p2 }}</p>
            </div>
            <a href="tumbleweed/" class="btn btn-light">{{ locale.server_tumbleweed_view }}</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 py-2 px-5 py-md-5 bg-leap-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/leap.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-md-auto">
              <h2>Leap</h2>
              <h6>{{ locale.server_leap_p1 }}</h6>
              <p>{{ locale.server_leap_p2 }}</p>
            </div>
            <a href="leap/" class="btn btn-light">{{ locale.server_leap_view }}</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 py-2 px-5 py-md-5 bg-kubic-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/kubic.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-md-auto">
              <h2>Kubic</h2>
              <h6>{{ locale.server_kubic_p1 }}</h6>
              <p>{{ locale.server_kubic_p2 }}</p>
            </div>
            <a href="kubic/" class="btn btn-light">{{ locale.server_kubic_view }}</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 py-2 px-5 py-md-5 bg-microos-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/microos.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-md-auto">
              <h2>MicroOS</h2>
              <h6>{{ locale.server_microos_p1 }}</h6>
              <p>{{ locale.server_microos_p2 }}</p>
            </div>
            <a href="microos/" class="btn btn-light">{{ locale.server_microos_view }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include features/snapper.html %}
{% include features/transactional.html %}
{% include features/installation.html %}
{% include features/zypper.html %}
{% include features/points.html %}
{% include features/yast.html %}
