---
title: openSUSE Server Distributions
permalink: /server/
---
<link rel="stylesheet" href="/assets/css/software.css">
<div class="container text-center py-4">
  <h1 class="display-3">{{ locale.server }}</h1>
  <p class="lead">{{ locale.server_p1 }}</p>
</div>
<div class="bg-wallpaper text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 py-2 px-5 py-md-5 bg-tumbleweed-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/tumbleweed.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-md-auto">
              <h2>Tumbleweed</h2>
              <h6>{{ locale.server_tumbleweed_p1 }}</h6>
              <p>{{ locale.server_tumbleweed_p2 }}</p>
            </div>
            <a href="{{ '/tumbleweed/?type=server' | prefix_locale }}" class="btn btn-light mb-2">{{ locale.learn_more }}</a>
            <a href="{{ '/tumbleweed/?type=server#download' | prefix_locale }}" class="btn btn-light">{{ locale.download }}</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 py-2 px-5 py-md-5 bg-slowroll-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/slowroll.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-md-auto">
              <h2>Slowroll</h2>
              <h6>{{ locale.server_slowroll_p1 }}</h6>
              <p>{{ locale.server_slowroll_p2 }}</p>
            </div>
            <a href="{{ '/slowroll/?type=server' | prefix_locale }}" class="btn btn-light mb-2">{{ locale.learn_more }}</a>
            <a href="{{ '/slowroll/?type=server#download' | prefix_locale }}" class="btn btn-light">{{ locale.download }}</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 py-2 px-5 py-md-5 bg-leap-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/leap.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-md-auto">
              <h2>Leap</h2>
              <h6>{{ locale.server_leap_p1 }}</h6>
              <p>{{ locale.server_leap_p2 }}</p>
            </div>
            {% assign leap_version = site.releases.leap[site.releases.leap.current].version %}
            {% capture distro_name %}Leap {{ leap_version }}{% endcapture %}
            <a href="{{ '/leap/' | append: leap_version | append: '/?type=server' | prefix_locale }}" class="btn btn-light mb-2">{{ locale.learn_more }}</a>
            <a href="{{ '/leap/' | append: leap_version | append: '/?type=server#download' | prefix_locale }}" class="btn btn-light">{{ locale.download }}</a>
          </div>
        </div>
      </div>
      <div class="col-12 text-center pt-3">
        <h2 class="font-weight-bold">{{ locale.immutable_distributions }}</h2>
      </div>
      <div class="col-md-6 py-2 px-5 py-md-5 bg-microos-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/microos.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-md-auto">
              <h2>MicroOS</h2>
              <h6>{{ locale.server_microos_p1 }}</h6>
              <p>{{ locale.server_microos_p2 }}</p>
            </div>
            <a href="{{ '/microos/?type=server' | prefix_locale }}" class="btn btn-light mb-2">{{ locale.learn_more }}</a>
            <a href="{{ '/microos/?type=server#download' | prefix_locale }}" class="btn btn-light">{{ locale.download }}</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 py-2 px-5 py-md-5 bg-leapmicro-tint">
        <div class="row h-100">
          <div class="col-auto">
            <div class="distribution-logo">
            {% include logos/leapmicro.svg %}
            </div>
          </div>
          <div class="col d-flex flex-column">
            <div class="mb-md-auto">
              <h2>Leap Micro</h2>
              <h6>{{ locale.server_leapmicro_p1 }}</h6>
              <p>{{ locale.server_leapmicro_p2 }}</p>
            </div>
            {% assign leapmicro_version = site.releases.leap_micro[site.releases.leap_micro.current].version %}
            {% capture distro_name %}Leap Micro {{ leapmicro_version }}{% endcapture %}
            <a href="{{ '/leapmicro/' | append: leapmicro_version | append: '/?type=server' | prefix_locale }}" class="btn btn-light mb-2">{{ locale.learn_more }}</a>
            <a href="{{ '/leapmicro/' | append: leapmicro_version | append: '/?type=server#download' | prefix_locale }}" class="btn btn-light">{{ locale.download }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include features/snapper.html %}
{% include features/transactional.html %}
{% include features/installation.html %}
{% include features/zypper.html %}
{% include features/points.html %}
{% include features/yast.html %}
