{% assign distro = site.data[include.distro] %}
<link rel="stylesheet" href="/assets/css/software.css">
<header class="jumbotron jumbotron-fluid bg-{{ distro.bg-color }} text-center pb-0">
  <div class="container text-{{ distro.fg-color }}">
    <div class="page-heading pb-5">
        <div class="m-auto distribution-logo">
        {% include {{ distro.logo }} %}
        </div>
      <h1 class="display-3">
        openSUSE {{ distro.name }}
        {% if distro.version %}{{ distro.version }}{% endif %}
        {% if include.status %}<sup>{{ include.status }}</sup>{% endif %}
      </h1>
    </div>
  </div>
  <div class="border-bottom" role="tablist">
    <ul class="container nav nav-tabs nav-justified border-0">
      {% for tab in distro.downloads %}
      <li class="nav-item">
        <a class="nav-link h-100{% if forloop.first == true %} active{% endif %}" data-toggle="tab" href="#{{ tab.name }}-ports" role="tab">
          {{ tab.name }}
          <div class="text-nowrap">
            {% for arch in tab.arches %}
              <span class="badge badge-{{ distro.bg-color }} text-{{ distro.fg-color }}">{{ arch.name }}</span>
            {% endfor %}
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</header>

<section class="mb-5">
  <div class="container">
    <div class="tab-content">
      {% for tab in distro.downloads %}
      <div class="tab-pane {% if forloop.first == true %}active{% endif %}" id="{{ tab.name }}-ports" role="tabpanel">
        {% if tab.info %}
          <div class="alert alert-{{ tab.info-colour || distro.bg-color }}">
            {{ tab.info | markdownify }}
          </div>
        {% endif %}
        {% for arch in tab.arches %}
        <h3 class="my-3 text-center">{{ arch.name }}</h3>
        <div class="row">
          {% for type in arch.types %}
          <div class="col text-center">
            <a href="https://download.opensuse.org{{type.primary_link}}" class="btn btn-lg btn-block btn-{{ distro.bg-color }} text-{{ distro.fg-color }}">
            <span class="typcn typcn-download-outline"></span>
            {{ type.name }}
            </a>
            <div class="p-2">
              {% capture size %}{{ site.data.sizes[type.primary_link] }}{% endcapture %}
              <h5 class="mb-2 text-muted">{% humansize %}{{ size }}{% endhumansize %}</h5>
              <h6 class="mb-2 text-muted">{% sizedescription %}{{ size }}{% endsizedescription %}</h6>
              <p class="text-muted">{{ type.desc }}</p>

              {% for link in type.links %}
              <a href="https://download.opensuse.org{{link.url}}" class="btn btn-link">{{ link.name }}</a>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}

        {% if tab.choosing-media %}
        <section class="my-3">
          <div class="container" role="main">
            {% include choosing_media.html %}
          </div>
        </section>
        {% endif %}
        {% if tab.leap-switch %}
        <section class="my-3">
          <div class="container" role="main">
            {% include leap_switch.html %}
          </div>
        </section>
        {% endif %}
        {% if tab.tumbleweed-switch %}
        <section class="my-3">
          <div class="container" role="main">
            {% include tumbleweed_switch.html %}
          </div>
        </section>
        {% endif %}

      </div><!-- /.tab-pane -->
      {% endfor %}
    </div><!-- /.tab-content -->
  </div><!-- /.container -->
</section>

<section class="my-3">
  <div class="container" role="main">
  {% if distro.name == "Leap" %}
    {% include documentation.html distro="Leap" version="@version" %}
  {% else %}
    {% include documentation.html distro="Tumbleweed" %}
  {% endif %}
  </div>
</section>

<section class="my-3">
  <div class="container" role="main">
    {% include verify_download.html %}
  </div>
</section>

<section class="my-3">
  <div class="container" role="main">
    {% include requirements.html %}
  </div>
</section>
