<h2 id="documentation">{{ locale.documentation }}</h2>
<ul>
  <li>
    <a href="https://opensuse.github.io/openSUSE-docs-revamped/">
    {{ locale.tumbleweed_community_docs }}
    </a>
  </li>
  <li>
    <a href="https://doc.opensuse.org/documentation/leap/startup/single-html/book.opensuse.startup/index.html">
    {{ locale.documentation_leap_startup_guide }}
    </a>
  </li>
  <li>
    <a href="https://doc.opensuse.org/release-notes/x86_64/openSUSE/{{ distro.name }}/{{ distro.version }}">
      {{ locale.documentation_leap_release_notes }}
    </a>
  </li>
  <li>
    <a href="{{ locale.documentation_leap_license_link }}">
      {{ locale.documentation_leap_license }}
    </a>
    </li>
  <li>
    <a href="https://doc.opensuse.org">
      {{ locale.documentation_leap_reference_documentation }}
    </a>
  </li>
  <li>
    <a href="https://en.opensuse.org/Source_code">
      {{ locale.source_code }}
    </a>
  </li>
</ul>
