<section class="py-3">
  <div class="container">
    <h3 id="documentation">{{ locale.documentation }}</h3>
    <ul>
      <li>
        <a href="https://doc.opensuse.org/documentation/leap/startup/html/book-startup/index.html">
        {{ locale.documentation_startup_guide }}
        </a>
      </li>
      <li>
        <a href="https://doc.opensuse.org/release-notes/x86_64/openSUSE/{{ distro.name }}/{{ distro.version }}">
          {{ locale.documentation_release_notes }}
        </a>
      </li>
      <li>
        <a href="{{ locale.documentation_license_link }}">
          {{ locale.documentation_license }}
        </a>
        </li>
      <li>
        <a href="https://doc.opensuse.org">
          {{ locale.documentation_full_documentation }}
        </a>
      </li>
      <li>
        <a href="https://en.opensuse.org/Source_code">
          {{ locale.source_code }}
        </a>
      </li>
    </ul>
  </div>
</section>
