<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="downloadModalLabel">{{ locale.alternative_downloads }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <div class="list-group list-group-flush">
        {% for tab in distro.downloads offset: 1 %}
          <div {% if tab.display %}class="not-{{ tab.display }}"{% endif %}>
            <div class="list-group-item">
              <span class="d-flex align-items-center justify-content-between text-decoration-none">
                <h5 class="m-0 font-weight-bold">{{ locale[tab.name] }}</h5>
                <span>
              {% for arch in tab.arches %}
                <span class="badge badge-{{ distro.bg-color }} text-{{ distro.fg-color }}">{{ arch.name }}</span>
              {% endfor %}
                </span>
              </span>
            </div>
            <div>
              <div class="card-body{% if forloop.last == false %} border-bottom{% endif %}">
              {% if tab.info %}
                <div class="alert alert-{{ distro.bg-color }}">
                  {{ locale[tab.info] | markdownify }}
                </div>
              {% endif %}
                <div class="row">
                {% for arch in tab.arches %}
                    <div class="col-lg-6 mb-3">
                      <h5>{{ locale[arch.name] }}</h5>
                      <div class="list-group">
                        {% include types.html types=arch.types %}
                      </div>
                    </div>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
