{% capture release %}{% labeltoreleaseleapmicro %}{{ include.type }}{% endlabeltoreleaseleapmicro %}{% endcapture %}

{% assign currtype = release | split: ":" %}
{% assign version = currtype[0] | replace: ".", "" %}
{% assign state = currtype[1] %}
{% if version != "" %}
  {% include distribution.html distro=version state=state type=include.type %}
{% else %}
  <meta http-equiv="refresh" content="0; url={{ '/leapmicro/' | prefix_locale }}" />
  <p><a href="{{ '/leapmicro_testing/' | prefix_locale }}">Redirect</a></p>
{% endif %}
