{% capture release %}{% labeltorelease %}{{ include.type }}{% endlabeltorelease %}{% endcapture %}

{% assign currtype = release | split: ":" %}
{% assign version = currtype[0] | replace: ".", "" %}
{% assign state = currtype[1] %}

{% if version != "" %}
  {% include distribution.html distro=version state=state %}
{% else %}
  {% assign redirect = '/' %}
  {% if page.locale.id != 'en' %}
    {% assign redirect = redirect | append: page.locale.id | append: '/' %}
  {% endif %}
  {% assign redirect = redirect | append: 'leap/' %}
  <meta http-equiv="refresh" content="0; url={{ redirect }}" />
  <p><a href="{{ redirect }}">Redirect</a></p>
{% endif %}
