<table class="table">
  <thead>
    <tr>
      <th>{{ locale.upgrade_table_linux }}</th>
      <th>{{ locale.upgrade_table_windows }}</th>
      <th>{{ locale.upgrade_table_mac }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="{{ locale.upgrade_table_linux_dvd_link }}">
          {{ locale.upgrade_table_linux_dvd }}
        </a>
      </td>
      <td>
        <a href="{{ locale.upgrade_table_windows_dvd_link }}">
          {{ locale.upgrade_table_windows_dvd }}
        </a>
      </td>
      <td>
        <a href="{{ locale.upgrade_table_mac_dvd_link }}">
          {{ locale.upgrade_table_mac_dvd }}
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="{{ locale.upgrade_table_linux_usb_link }}">
          {{ locale.upgrade_table_linux_usb }}
        </a>
      </td>
      <td>
        <a href="{{ locale.upgrade_table_windows_usb_link }}">
          {{ locale.upgrade_table_windows_usb }}
        </a>
      </td>
      <td>
        <a href="{{ locale.upgrade_table_mac_usb_link }}">
          {{ locale.upgrade_table_mac_usb }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
