<h2 id="verify-your-download-before-use">
  {{ locale.verify_download }}
  </h2>
<p>
  {{ locale.verify_download_p1 }}
</p>
<p>
  {{ locale.verify_download_p2 }}
</p>
<p>
  {{ locale.verify_download_p3 }}
</p>
<p>
  {{ locale.verify_download_pubkey }} <a href="https://download.opensuse.org/tumbleweed/repo/oss/gpg-pubkey-3dbdc284-53674dd4.asc"><strong>22C0 7BA5 3417 8CD0 2EFE 22AA B88B 2FD4 3DBD C284</strong></a>
</p>
<p>
  {{ locale.verify_download_help }} <a href="{{ locale.verify_download_checksums_help_link }}">{{ locale.verify_download_checksums_help }}</a>
</p>
