<h2 id="verify-your-download-before-use">
  {{ locale.verify_download }}
  </h2>
<p>
  {{ locale.verify_download_p1 }}
</p>
<p>
  {{ locale.verify_download_p2 }}
</p>
<p>
  {{ locale.verify_download_p3 }}
</p>
<p>
  {{ locale.verify_download_pubkey }} <a href="https://download.opensuse.org/tumbleweed/repo/oss/gpg-pubkey-29b700a4-62b07e22.asc"><strong>AD48 5664 E901 B867 051A  B15F 35A2 F86E 29B7 00A4</strong></a>
</p>
<p>
  {{ locale.verify_download_help }} <a href="{{ locale.verify_download_checksums_help_link }}">{{ locale.verify_download_checksums_help }}</a>
</p>
