@font-face {
    font-family: Poppins;
    font-weight: normal;
    src: url(/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url(/assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Source Sans";
    font-weight: normal;
    src: url(/assets/fonts/SourceSans3-Regular.ttf);
}

@font-face {
    font-family: "Source Sans";
    font-weight: bold;
    src: url(/assets/fonts/SourceSans3-Bold.ttf);
}
