@use 'colors';
@use 'breakpoints' as *;
@use 'fonts';
@use 'sass:color';

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: colors.$foreground1-light;
    background: colors.$background-light;
    font-family: "Source Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    @include colors.dark {
        color: colors.$foreground1-dark;
        background: colors.$background-dark;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.opensuseBar {
    padding: 0.3rem 0;
    background: #C7E1DD;
    color: #4D7D86;
    font-size: 0.9rem;

    @include colors.dark {
        color: #7DC1AE;
        background: #0B2E28;
    }
}

.siteName {
    color: #0F4030;
    font-weight: bold;

    @include colors.dark {
        color: #A5C7C3;
    }
}

.topNav {
    position: fixed;
    width: 100%;
    z-index: 10000;

    background: colors.$background-light;
    border-bottom: solid 1px color.adjust(colors.$background-light, $lightness: -12%, $saturation: -40%);
    
    @include colors.dark {
        background: colors.$background-dark;
        border-bottom: solid 1px color.adjust(colors.$background-dark, $lightness: 3%);
    }

    .textLink {
        color: #4D7D86;

        @include colors.dark {
            color: #7DC1AE;
        }
    }
    
    .textLinkSeparator {
        display: none;
        width: 1px;
        background: #c2e5ec;
        height: 100%;
        
        @include colors.dark {
            background: color.adjust(colors.$background-dark, $lightness: 5%);
        }

        @include mediumAndUp {
            display: block;
        }
    }

    .topNavInner {
        padding: 0.3rem 0rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        >* {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 1.75rem;
        }

        .home {
            filter: colors.$topnav-foreground-filter-light;
            
            @include colors.dark {
                filter: colors.$topnav-foreground-filter-dark;
            }
        }
    }

    .textLink {
        font-weight: 700;
        display: none;

        @include mediumAndUp {
            display: flex;
        }
    }
}

.imageLinks {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    
    > * {
        display: flex;
        align-items: center;
    }

    .menuToggle, .logo {
        filter: colors.$topnav-foreground-filter-light;
        
        @include colors.dark {
            filter: colors.$topnav-foreground-filter-dark;
        }
    }
}

.menuToggle {
    background: none;
    border: none;
    cursor: pointer;

    @include mediumAndUp {
        display: none;
    }
}

.menuOverlay {
    position: fixed;
    opacity: 0;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    min-height: 100vh;
    background: colors.$background-light;
    z-index: 10001;
    border: none;
    color: inherit;

    &:open {
        opacity: 1;
    }
    
    &::backdrop {
        background: rgba(0,0,0,0.4);
    }
    
    @include colors.dark {
        background: colors.$background-dark;
    }
    
    > * {
        padding: 0.3rem 2rem;
    }

    .textLinks {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        font-size: 2.25rem;
        gap: 0.5rem;
        font-weight: bold;
    }
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1200px;
}

.footerHolder {
    background: color.adjust(colors.$background-light, $saturation: -20%);
    padding: 2rem 0;

    footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: color.adjust(colors.$foreground1-light, $lightness: -5%);
        
        @include colors.dark {
            color: color.adjust(colors.$foreground1-dark, $lightness: -5%);
        }

        .links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 2rem;
            row-gap: 2rem;
            align-items: start;

            .linkSet {
                flex: 1 0 10rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                
                .linkSetHeading {
                    text-transform: uppercase;
                    font-size: 0.8rem;
                }
                
                .linkIcon {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 1.25rem;
                }
                
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    list-style-type: none;
                }

                li {
                    a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5rem;
                        width: max-content;

                        &:hover {
                            color: colors.$foreground1-light;

                            @include colors.dark {
                                color: colors.$foreground1-dark;
                            }
                        }
                    }
                }
            }
        }

        .bottomBar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-top: solid 1px rgba(0, 0, 0, 0.05);
            margin-top: 1rem;
            padding-top: 1.5rem;
            font-size: 0.8rem;
            gap: 1rem;

            img {
                filter: colors.$topnav-foreground-filter-light;
                
                @include colors.dark {
                    filter: colors.$topnav-foreground-filter-dark;
                }
            }
            
            @include colors.dark {
                border-top-color: rgba(255, 255, 255, 0.05);
            }

            .legalDisclaimer {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: center;

                a {
                    display: flex;
                    align-items: center;
                }
            }

            .wordmark {
                display: none;
                max-width: 6rem;
            }

            .socials {
                display: flex;
                gap: 1.5rem;

                .socialAccount {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        transform: scale(2);
                        color: colors.$foreground3-light;
                        
                        @include colors.dark {
                            color: colors.$foreground3-dark;
                        }
                    }
                }
            }

            @include mediumAndUp {
                flex-direction: row;

                .wordmark {
                    display: unset;
                }
            }
        }
    }
    
    @include colors.dark {
        background: color.adjust(colors.$background-dark, $lightness: -2%);
    }
}
