@media all {
  :root {
    --tumbleweed: 53, 185, 171;
    --leap: 251, 199, 93;
    --microos: 151, 58, 132;
    --kubic: 33, 164, 223;
   }
}

.bg-tumbleweed .nav-tabs .nav-link:not(.active), .bg-leap .nav-tabs .nav-link:not(.active), .bg-microos .nav-tabs .nav-link:not(.active), .bg-kubic .nav-tabs .nav-link:not(.active) {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.8)!important;
  transition: 0.3s;
}

.bg-tumbleweed .nav-tabs .nav-link:not(.active):hover, .bg-leap .nav-tabs .nav-link:not(.active):hover, .bg-microos .nav-tabs .nav-link:not(.active):hover, .bg-kubic .nav-tabs .nav-link:not(.active):hover  {
  background: rgba(255, 255, 255, 0.4);
  border-color: transparent transparent white transparent;
}

.distribution-logo {
  width: 256px;
  height: 256px;
}

.bg-wallpaper {
  background: url('/assets/images/wallpaper.jpg') bottom right no-repeat;
  background-size: cover;
  background-color: #0b212e;
}

.bg-server {
  background-color: black;
}

.bg-tumbleweed-tint {
  background: rgba(var(--tumbleweed), 0.3)
}

.bg-leap-tint {
  background: rgba(var(--leap), 0.3)
}

.bg-kubic-tint {
  background: rgba(var(--kubic), 0.3)
}

.bg-microos-tint {
  background: rgba(var(--microos), 0.3)
}

.bg-tumbleweed {
  background: rgb(var(--tumbleweed))
}

.badge-tumbleweed {
  background: rgb(var(--tumbleweed));
}

.btn-tumbleweed {
  background-color: rgb(var(--tumbleweed));
  border-color: rgb(var(--tumbleweed));
}

.btn-tumbleweed:hover, .btn-leap:hover, .btn-kubic:hover, .btn-microos:hover {
  filter: brightness(0.9);
}

.alert-tumbleweed {
  border-color: rgb(var(--tumbleweed));
  background-color: rgba(var(--tumbleweed), 0.2);
}

.bg-leap {
  background: rgb(var(--leap))
}

.badge-leap {
  background: rgb(var(--leap));
}

.btn-leap {
  background-color: rgb(var(--leap));
  border-color: rgb(var(--leap));
}

.alert-leap {
  border-color: rgb(var(--leap));
  background-color: rgba(var(--leap), 0.2);
}

.bg-kubic {
  background: rgb(var(--kubic))
}

.badge-kubic {
  background: rgb(var(--kubic));
}

.btn-kubic {
  background-color: rgb(var(--kubic));
  border-color: rgb(var(--kubic));
}

.bg-microos {
  background: rgb(var(--microos))
}

.badge-microos {
  background: rgb(var(--microos));
}

.btn-microos {
  background-color: rgb(var(--microos));
  border-color: rgb(var(--microos));
}

.text-black, .text-black:hover {
  color: black!important;
}
@media (prefers-color-scheme: dark) {
  .border-bottom {
    border-color: black!important;
  }
  .bg-light {
    background-color: #272b30!important;
  }
  .bg-tumbleweed .nav-tabs .nav-link:not(.active), .bg-leap .nav-tabs .nav-link:not(.active), .bg-microos .nav-tabs .nav-link:not(.active), .bg-kubic .nav-tabs .nav-link:not(.active) {
    background: rgba(0, 0, 0, 0.2);
  }

  .bg-tumbleweed .nav-tabs .nav-link:not(.active):hover, .bg-leap .nav-tabs .nav-link:not(.active):hover, .bg-microos .nav-tabs .nav-link:not(.active):hover, .bg-kubic .nav-tabs .nav-link:not(.active):hover  {
    background: rgba(0, 0, 0, 0.4);
    border-color: transparent transparent black transparent;
  }
}
