<section class="py-3">
  <div class="container">
    <h2>Multi-purpose Standalone & Kubernetes Container Operating System based on openSUSE MicroOS</h2>
        <p class="lead font-weight-normal">
          <img src="/assets/images/overview/kubic/certified-kubernetes-color.svg" alt="Certified Kubernetes" width="90" align="right">
          Certified Kubernetes Kubernetes is an open-source system for automating deployment, scaling, and management of containerised applications. Kubic uses kubeadm to provide an easy way of configuring a Kubernetes cluster across multiple machines, while our MicroOS base keeps your operating system updated automatically, with fully atomic rollbacks if required.</p>
          <a class="btn btn-{{ distro.bg-color }} text-{{ distro.fg-color }}" href="#download" onclick="show_tab('#download')">
            {{ locale.download }}
          </a>
  </div>
</section>
