<section class="py-3">
  <div class="container">
    <h2>{{ locale.LeapMicro_ovw_title }}</h2>
    <p class="lead font-weight-normal">
    {{ locale.LeapMicro_ovw_desc_p1 }}
    </p>
    <p class="lead font-weight-normal">
    {{ locale.LeapMicro_ovw_desc_p2 }}
    </p>
    <p class="lead font-weight-normal">
    {{ locale.LeapMicro_ovw_desc_p3 }}
    </p>
    {% if include.type != "legacy" %}
      <a class="btn btn-{{ distro.bg-color }} text-{{ distro.fg-color }}" href="#download" onclick="show_tab('#download')">
        {{ locale.download }}
      </a>
    {% endif %}
    <p class="lead font-weight-normal">
    <div class="videowrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ft8UVx9elKc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>{{ locale.LeapMicro_ovw_video_desc }}</p>
    </div>
    </p>
  </div>
</section>
