<section class="py-3">
  <div class="container">
    <h2>Leap Micro is an ultra-reliable, lightweight operating system built for containerized and virtualized workloads.</h2>
    <p class="lead font-weight-normal">
    This community version is based on SUSE Linux Enterprise Micro, which leverages the enterprise hardened security and compliance components of SUSE Linux Enterprise. This merging of technologies provides for a modern, immutable and developer-friendly OS platform.
    </p>
    <p class="lead font-weight-normal">
    Leap Micro offers an offline image. The main difference between the offline and self-install/raw images are that the offline image has an installer. Raw and self-install allows for customization via combustion or manually in the image after it is written to the disk. There is an option for a real-time kernel.
    </p>
    <p class="lead font-weight-normal">
    Try Leap Micro in VMs running on either <a href="https://www.suse.com/c/happened-kernel-xen/">Xen</a> or KVM. Using a Raspberry Pi or other System on Chip hardware may use the preconfigured image together with the <a href="https://en.opensuse.org/Portal:MicroOS/Combustion">Combustion</a> functionality for the boot process. Both preconfigured and self-installed images are intended to be used with  <a href="https://en.opensuse.org/Portal:MicroOS/Combustion">Combustion</a>  written to a USB, which is driven to allow configuration on any first boot, with the option for default password protected changes.
    </p>
    <p class="lead font-weight-normal">
    See our short Leap Micro installation <a href="https://www.youtube.com/watch?v=ft8UVx9elKc">demo</a> with combustion and cockpit.</strong> and the documentation.
    </p>
    <a class="btn btn-{{ distro.bg-color }} text-{{ distro.fg-color }}" href="#download" onclick="show_tab('#download')">
      {{ locale.download }}
    </a>
  </div>
</section>
