<section class="py-3">
  <div class="container">
    <h2>A brand new way of building openSUSE and a new type of a hybrid Linux distribution</h2>
    <p class="lead font-weight-normal">Leap uses source from SUSE Linux Enterprise (SLE), which gives Leap a level of stability unmatched by other Linux distributions, and combines that with community developments to give users, developers and sysadmins the best stable Linux experience available.</p>
    <a class="btn btn-{{ distro.bg-color }} text-{{ distro.fg-color }}" href="#download" onclick="show_tab('#download')">
      {{ locale.download }}
    </a>
  </div>
</section>
