<section class="py-3">
  <div class="container">
    <h2>State-of-the-art desktop and server operating system</h2>
    <p class="lead font-weight-normal">With Tumbleweed you don't have to take difficult decisions about things you value, either freedom or safety, either control or security, technology or stability -- Tumbleweed let's you have your cake and it eat too!</p>
    <a class="btn btn-{{ distro.bg-color }} text-{{ distro.fg-color }}" href="#download" onclick="show_tab('#download')">
      {{ locale.download }}
    </a>
  </div>
</section>
