<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 my-auto">
        <div id="desktopCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="active" data-target="#desktopCarousel" data-slide-to="0">
            <li data-target="#desktopCarousel" data-slide-to="1">
            <li data-target="#desktopCarousel" data-slide-to="2">
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/images/desktops/plasma.png" alt="KDE Plasma 6" class="d-block w-100"/>
              <div class="carousel-caption d-none d-md-block">
                <h5>KDE Plasma 6</h5>
                <a href="https://kde.org/plasma-desktop" class="btn btn-sm btn-light">Learn More</a>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/assets/images/desktops/gnome.png" alt="GNOME 48" class="d-block w-100"/>
              <div class="carousel-caption d-none d-md-block">
                <h5>GNOME 48</h5>
                <a href="https://www.gnome.org/" class="btn btn-sm btn-light">Learn More</a>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/assets/images/desktops/xfce.png" alt="Xfce Desktop 4.20" class="d-block w-100"/>
              <div class="carousel-caption d-none d-md-block">
                <h5>Xfce Desktop 4.20</h5>
                <a href="https://xfce.org" class="btn btn-sm btn-light">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7 my-auto">
        <h2>{{ locale.desktops }}</h2>
        <p>{{ locale.desktops_p1 }}</p>
      </div>
    </div>
  </div>
</section>
