<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5.col-12.my-auto">
        <h2 class="text-center">Install it how you want it</h2>
        <p>The openSUSE Installation process provides you with all the options you would possibly need. Want to install your system with mouse and keyboard? Load up the installer in graphical mode. Don't have a mouse on hand? Enable the terminal client and install it that way. Only have physical access to the machine? Connect to the installer remotely and get on with the installation. It's that simple.</p>
      </div>
      <div class="col-md-7.col-12.my-auto">
        <img src="/assets/images/installation/installation.png" alt="Installer screenshot" class="animated bounceIn w-100"/>
      </div>
    </div>
  </div>
</section>
