<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h2>{{ locale.points_transparent }}</h2>
        <p>{{ locale.points_transparent_p1 }}</p>
      </div>
      <div class="col-12 col-md-4">
        <h2>{{ locale.points_free }}</h2>
        <p>{{ locale.points_free_p1 }}</p>
      </div>
      <div class="col-12 col-md-4">
        <h2>{{ locale.points_welcoming }}</h2>
        <p>{{ locale.points_welcoming_p1 }}</p>
      </div>
    </div>
  </div>
</section>
