<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-12 my-auto">
        <img src="/assets/images/snapper/screenshot.svg" alt="YaST Snapper Module screenshot" class="d-block w-100"/>
      </div>
      <div class="col-md-7 col-12 my-auto">
        <h2 class="text-center">{{ locale.snapper }}</h2>
        <p>{{ locale.snapper_p1 }}</p>
        <div class="d-flex">
          <a href="http://snapper.io" class="btn btn-primary mx-auto">{{ locale.learn_more }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
