<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-12 my-auto">
        <img src="/assets/images/snapper/screenshot.svg" alt="YaST Snapper Module screenshot" class="d-block w-100"/>
      </div>
      <div class="col-md-7 col-12 my-auto">
        <h2 class="text-center">System corrupted? Not a problem anymore</h2>
        <p>The Filesystem Snapshots feature keeps your filesystem in check by having continuous backups performed automatically when installing software and updates. Just boot form an earlier snapshot and bring your system to a working state in the matter of minutes.</p>
        <div class="d-flex
          <a href="http://snapper.io" class="btn btn-primary mx-auto">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
