<section class="py-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 my-auto">
        <img src="/assets/images/yast/yast-aardvark.svg" alt="YaST Logo" class="d-block mx-auto p-4" width="112" height="112"/>
        <h2 class="text-center">{{ locale.yast | markdownify }}</h2>
        <p>{{ locale.yast_p1 }}</p>
      </div>
      <div class="col-12 col-md-7 my-auto">
        <div class="row">
          <a href="https://software.opensuse.org/package/yast2-apparmor" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-apparmor.svg" alt="AppArmor Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">AppArmor</h6>
          </a>
          <a href="https://software.opensuse.org/package/yast2-firewall" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-firewall.svg" alt="Firewall Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">{{ locale.yast_firewall }}</h6>
          </a>
          <a href="https://software.opensuse.org/package/yast2-fonts" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-fonts.svg" alt="Fonts Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">{{ locale.yast_fonts }}</h6>
          </a>
          <a href="https://software.opensuse.org/package/yast2-tune" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-hwinfo.svg" alt="Hardware Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">{{ locale.yast_hardware }}</h6>
          </a>
          <a href="https://software.opensuse.org/package/yast2-storage-ng" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-disk.svg" alt="Disk Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">{{ locale.yast_partitioner }}</h6>
          </a>
          <a href="https://software.opensuse.org/package/yast2-printer" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-printer.svg" alt="Printer Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">{{ locale.yast_printer }}</h6>
          </a>
          <a href="https://software.opensuse.org/package/yast2-scanner" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-scanner.svg" alt="Scanner Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">{{ locale.yast_scanner }}</h6>
          </a>
          <a href="https://software.opensuse.org/package/yast2-sound" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-sound.svg" alt="Sound Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">{{ locale.yast_sound }}</h6>
          </a>
          <a href="https://software.opensuse.org/package/yast2-packager" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-sw_single.svg" alt="Software Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">{{ locale.yast_software }}</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
