<section class="py-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 my-auto">
        <img src="/assets/images/yast/yast-aardvark.svg" alt="YaST Logo" class="d-block mx-auto p-4" width="112" height="112"/>
        <h2 class="text-center">YaST, the best choice for the <strike>power</strike> user</h2>
        <p>One of the greatest system configuration tools helps you, the user, to setup every single aspect of your system. You no longer need to go through a plethora of configuration scripts or enter dubious commands to get the system setup as you need it.</p>
      </div>
      <div class="col-12 col-md-7 my-auto">
        <div class="row">
          <a href="/package/yast2-apparmor" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-apparmor.svg" alt="AppArmor Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">AppArmor</h6>
          </a>
          <a href="/package/yast2-firewall" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-firewall.svg" alt="Firewall Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">Firewall</h6>
          </a>
          <a href="/package/yast2-fonts" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-fonts.svg" alt="Fonts Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">Fonts</h6>
          </a>
          <a href="/package/yast2-tune" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-hwinfo.svg" alt="Hardware Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">Hardware</h6>
          </a>
          <a href="/package/yast2-storage-ng" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-disk.svg" alt="Disk Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">Partitioner</h6>
          </a>
          <a href="/package/yast2-printer" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-printer.svg" alt="Printer Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">Printer</h6>
          </a>
          <a href="/package/yast2-scanner" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-scanner.svg" alt="Scanner Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">Scanner</h6>
          </a>
          <a href="/package/yast2-sound" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-sound.svg" alt="Sound Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">Sound</h6>
          </a>
          <a href="/package/yast2-packager" class="col-4 text-white py-3">
            <img src="/assets/images/yast/yast-sw_single.svg" alt="Software Icon" class="w-50 d-block mx-auto"/>
            <h6 class="text-center">Software</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
