<!DOCTYPE html>
<html lang="en">

{% include head2025.html %}

<body>
    {{ content }}
    <div class="footerHolder">
        <div class="container">
            <footer>
                <ul class="links">
                    <li><a href="https://news.opensuse.org/">{{ locale.footer_news }}</a></li>
                    <li><a href="https://doc.opensuse.org/">{{ locale.footer_docs }}</a></li>
                    <li><a href="https://en.opensuse.org/Main_Page">{{ locale.footer_wiki }}</a></li>
                    <li><a href="https://forums.opensuse.org/">{{ locale.footer_forums }}</a></li>
                    <li><a href="https://software.opensuse.org/">{{ locale.footer_software }}</a></li>
                    <li><a href="https://lists.opensuse.org/">{{ locale.mailing_lists }}</a></li>
                    <li><a href="https://shop.opensuse.org/">{{ locale.footer_merch }}</a></li>
                    <li><a href="https://planet.opensuse.org/">{{ locale.footer_planet }}</a></li>
                    <li><a href="mailto:press@opensuse.org">{{ locale.footer_press_inquiries }}</a></li>
                    <li><a href="https://en.opensuse.org/openSUSE:Artwork_brand#Trademark">{{ locale.footer_trademark }}</a></li>
                    <li><a href="https://endof10.org/" target="_blank">End of 10</a></li>
                </ul>
                <div class="bottomBar">
                    <div class="legalDisclaimer">
                        <a href="https://www.opensuse.org">
                            <img class="wordmark" alt="openSUSE wordmark" src="/assets/img/monochrome/wordmark.svg">
                        </a>
                        &copy; 2015-{{ site.time | date:"%Y" }} openSUSE Contributors
                        <a href="https://en.opensuse.org/Imprint">Imprint</a>
                    </div>
                    <div class="socials">
                        {% include socialAccount.html name="Mastodon" href="https://fosstodon.org/@opensuse" %}
                        {% include socialAccount.html name="Reddit" href="https://www.reddit.com/r/openSUSE/" %}
                        {% include socialAccount.html name="YouTube" href="https://www.youtube.com/user/opensusetv" %}
                        {% include socialAccount.html name="Facebook" href="https://www.facebook.com/en.openSUSE" %}
                        {% include socialAccount.html name="Twitter" href="https://twitter.com/opensuse" %}
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>
